@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");
// colors

$white: #ffffff;    
$black: #000000;
$danger: #ff0000;
$grey: #bfadad;

$font-family: "Caveat", sans-serif;
